<!-- START CONTAINER FLUID -->
<pg-container>
  <div class="row mt-4">
    <div class="col-md-12">
      <div class="collapse navbar-collapse" id="sub-nav">
        <div class="row mt-4 mb-3">
          <div class="col-sm-6">
            <ul class="navbar-nav d-flex flex-row justify-content-sm-start">
              <li class="nav-item text-dark">
                <div class="btn-group dropdown dropdown-default" dropdown>
                  <button
                    class="btn dropdown-toggle"
                    style="width: 200px"
                    type="button"
                    dropdownToggle
                  >
                    <i
                      class="fa fa-circle"
                      [ngClass]="{
                        'text-success': statusSort == 'treated',
                        'text-danger': statusSort == 'incoming',
                        'text-warning': statusSort == 'expired',
                        'text-primary': statusSort == 'All'
                      }"
                    ></i
                    ><span> {{ statusSort }}</span>
                  </button>
                  <div *dropdownMenu class="dropdown-menu" role="menu">
                    <a
                      class="dropdown-item"
                      href="javascript:void(0)"
                      (click)="updateFilterStatus('')"
                      ><i
                        class="fa fa-circle text-primary"
                        aria-hidden="true"
                      ></i>
                      All Patients</a
                    >
                    <a
                      class="dropdown-item"
                      href="javascript:void(0)"
                      (click)="updateFilterStatus('Treated')"
                      ><i
                        class="fa fa-circle text-success"
                        aria-hidden="true"
                      ></i>
                      Successfully Treated</a
                    >
                    <a
                      class="dropdown-item"
                      href="javascript:void(0)"
                      (click)="updateFilterStatus('Arrived')"
                      ><i
                        class="fa fa-circle text-warning"
                        aria-hidden="true"
                      ></i>
                      Patients Arrived</a
                    >
                    <a
                      class="dropdown-item"
                      href="javascript:void(0)"
                      (click)="updateFilterStatus('Incoming')"
                      ><i
                        class="fa fa-circle text-danger"
                        aria-hidden="true"
                      ></i>
                      Patients Incoming</a
                    >
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-sm-6">
            <ul class="navbar-nav d-flex flex-row justify-content-sm-end">
              <li class="nav-item">
                <div class="input-group transparent">
                  <div class="input-group-prepend">
                    <span class="input-group-text transparent"
                      ><i class="pg pg-search"></i>
                    </span>
                  </div>
                  <input
                    type="text"
                    class="form-control pull-right"
                    placeholder="Search"
                    (keyup)="updateFilterSearch($event)"
                  />
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <ngx-datatable
              #table
              class="table table-hover"
              [rows]="patientRecords"
              [columnMode]="columnModeSetting"
              [headerHeight]="43"
              [footerHeight]="50"
              [rowHeight]="'auto'"
              [scrollbarH]="scrollBarHorizontal"
              (select)="onSelect($event)"
              (activate)="onActivate($event)"
            >
              <ngx-datatable-column
                name="name"
                cellClass="d-flex align-items-center"
              >
                <ng-template
                  let-row="row"
                  let-value="value"
                  ngx-datatable-cell-template
                >
                  {{ value[0].text }}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                name="gender"
                cellClass="d-flex align-items-center"
              >
                <ng-template
                  let-row="row"
                  let-value="value"
                  ngx-datatable-cell-template
                >
                  {{ value }}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                name="condition"
                cellClass="d-flex align-items-center"
              >
                <ng-template
                  let-row="row"
                  let-value="value"
                  ngx-datatable-cell-template
                >
                  {{ value.category }} <br />
                  <span class="hint-text">{{ value.description }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                name="contact"
                cellClass="d-flex align-items-center"
              >
                <ng-template
                  let-row="row"
                  let-value="value"
                  ngx-datatable-cell-template
                >
                  {{ value.relation }} <br />
                  <span class="hint-text">{{ value.telecom }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                name="deceasedDateTime"
                cellClass="d-flex align-items-center"
              >
                <ng-template
                  let-row="row"
                  let-value="value"
                  ngx-datatable-cell-template
                >
                  {{ value.toDate() | date }}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                name="status"
                cellClass="d-flex align-items-center"
              >
                <ng-template
                  let-row="row"
                  let-value="value"
                  ngx-datatable-cell-template
                >
                  <span class="label mt-1" [ngClass]="getCellClass(value)">
                    {{ value }}</span
                  >
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</pg-container>
