<!-- START CONTAINER FLUID -->
<pg-container>
  <div class="row mt-5 mb-5" *ngIf="patient">
    <div class="col-md-7" *ngIf="!practitioner">
      <span class="label label-success mt-1 mb-2 pull-left"
        >Assign Practitioner</span
      >

      <ul
        class="navbar-nav d-flex flex-row justify-content-sm-end"
        *ngIf="selected.length != 0"
      >
        <li class="nav-item">
          <div class="btn-group">
            <button
              (click)="
                assignPractitioner(
                  selected[0].identifier.value,
                  selected[0].name[0].text
                )
              "
              class="btn btn-default btn-cons mb-2 mr-0"
            >
              <span>
                <i
                  class="fa fa-check-circle text-success "
                  aria-hidden="true"
                ></i>
                Asign Practitioner</span
              >
            </button>
          </div>
        </li>
      </ul>
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <ngx-datatable
              #table
              class="table table-hover"
              [rows]="practitioners"
              [columnMode]="columnModeSetting"
              [headerHeight]="43"
              [footerHeight]="50"
              [rowHeight]="'auto'"
              [selectionType]="'single'"
              [selected]="selected"
              [scrollbarH]="scrollBarHorizontal"
              (select)="onSelect($event)"
            >
              <ngx-datatable-column
                name="name"
                cellClass="d-flex align-items-center"
              >
                <ng-template
                  let-row="row"
                  let-value="value"
                  ngx-datatable-cell-template
                >
                  <span>{{ value[0].text }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                name="department"
                cellClass="d-flex align-items-center"
              ></ngx-datatable-column>

              <ngx-datatable-column
                [width]="60"
                name="login"
                cellClass="d-flex align-items-center"
              >
                <ng-template
                  let-row="row"
                  let-value="value"
                  ngx-datatable-cell-template
                >
                  <span class="label label-warning mt-1" *ngIf="value == false"
                    >Offline</span
                  >
                  <span class="label label-success mt-1" *ngIf="value == true"
                    >Online</span
                  >
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-7" *ngIf="practitioner">
      <span class="label label-success mt-1 mb-2 pull-right"
        >Assigned Practitioner</span
      >

      <div class="card">
        <div class="row">
          <div class="col-sm-3">
            <img
              src="{{ practitioner.photo[0].url }}"
              alt=""
              srcset=""
              width="100"
              height="100"
            />
          </div>

          <div class="col-sm-6 mt-auto mb-auto">
            <span class="h5 bold text-primary">{{
              practitioner.name[0].text
            }}</span>
            <br />
            <span
              ><i class="fa fa-envelope" aria-hidden="true"></i>
              {{ practitioner.email }}</span
            >
            <br />
            <span
              ><i class="fa fa-user-circle" aria-hidden="true"></i>
              Practitioner</span
            >
          </div>
          <div class="col-sm-3 mt-auto mb-auto ml-auto">
            <span class="semi-bold" *ngIf="practitioner.login"
              >Available
              <i
                class="fa "
                [ngClass]="
                  practitioner.login == true
                    ? 'fa-check-circle text-success'
                    : 'fa-power-off text-danger'
                "
                aria-hidden="true"
              ></i
            ></span>
            <span class="semi-bold" *ngIf="!practitioner.login"
              >Offline
              <i
                class="fa "
                [ngClass]="
                  practitioner.login == true
                    ? 'fa-check-circle text-success'
                    : 'fa-power-off text-warning'
                "
                aria-hidden="true"
              ></i
            ></span>
            <br />
          </div>
        </div>
      </div>

      <!-- Treatments -->
      <div class="row" *ngIf="!showInvoiceForm">
        <div class="col-md-12">
          <form role="form" [formGroup]="invoiceForm">
            <div class="row">
              <div class="col-md-12">
                <span class="label label-warning mt-1 mb-2 pull-right"
                  >Add Treatments</span
                >
                <div
                  class="form-group form-group-default input-group required"
                  [class.has-error]="
                    patientId.invalid && (patientId.dirty || patientId.touched)
                  "
                >
                  <div class="form-input-group">
                    <label>Patient ID</label>
                    <input
                      type="text"
                      class="form-control"
                      id="patientId"
                      name="patientId"
                      formControlName="patientId"
                      required
                    />
                  </div>
                  <div class="input-group-append">
                    <span class="input-group-text"
                      ><i class="fa fa-id-card" aria-hidden="true"></i>
                    </span>
                  </div>
                </div>

                <div
                  class="form-group form-group-default input-group required"
                  [class.has-error]="
                    patientId.invalid && (patientId.dirty || patientId.touched)
                  "
                >
                  <div class="form-input-group">
                    <label>Patient Name</label>
                    <input
                      type="text"
                      class="form-control"
                      id="patientName"
                      name="patientName"
                      formControlName="patientName"
                      required
                    />
                  </div>

                  <div class="input-group-append">
                    <span class="input-group-text"
                      ><i class="fa fa-user" aria-hidden="true"></i>
                    </span>
                  </div>
                </div>

                <!-- <div class="form-group form-group-default input-group required" [class.has-error]="
                    patientAddress.invalid &&
                    (patientAddress.dirty || patientAddress.touched)
                  ">
                  <div class="form-input-group">
                    <label>Patient Address</label>
                    <input type="textarea" class="form-control" id="patientAddress" name="patientAddress"
                      formControlName="patientAddress" required />
                  </div>
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-address-book" aria-hidden="true"></i>
                    </span>
                  </div>
                </div> -->

                <div class="form-group form-group-default input-group required">
                  <div class="form-input-group">
                    <label>Due In</label>
                    <pg-datepicker
                      formControlName="date"
                      [DisabledDate]="disabledDate"
                    ></pg-datepicker>
                  </div>
                  <div class="input-group-append">
                    <span class="input-group-text">
                      <i class="fa fa-calendar"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div formArrayName="treatments">
              <div
                class="row"
                *ngFor="let value of treatmentsForm.controls; let i = index"
                [formGroupName]="i"
              >
                <div class="col-md-7">
                  <div
                    class="form-group form-group-default input-group required"
                  >
                    <div class="form-input-group">
                      <label>Treatment</label>
                      <input
                        type="textarea"
                        class="form-control"
                        id="treatment"
                        name="treatment"
                        formControlName="treatment"
                        required
                      />
                    </div>
                    <div class="input-group-append">
                      <span class="input-group-text"
                        ><i class="fa fa-stethoscope" aria-hidden="true"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div
                    class="form-group form-group-default input-group required"
                  >
                    <div class="form-input-group">
                      <label>Cost</label>
                      <input
                        type="text"
                        class="autonumeric form-control"
                        placeholder="Eg. 1000"
                        formControlName="cost"
                      />
                    </div>
                    <div class="input-group-prepend">
                      <span class="input-group-text">Rs </span>
                    </div>
                  </div>
                </div>
                <div class="col-md-1">
                  <i
                    class="fa fa-minus-square mt-4 text-danger ml-3"
                    aria-hidden="true"
                    (click)="deleteTreatment(i)"
                  ></i>
                </div>
              </div>
              <button class="btn btn-success" (click)="addTreatment()">
                Add Treatment
              </button>
            </div>
          </form>
          <div class="row">
            <div class="col-md-8">
              <div class="p-t-20 clearfix p-l-10 p-r-10">
                <div class="pull-left">
                  <p class="bold font-montserrat text-uppercase">TOTAL</p>
                </div>
                <div class="pull-right">
                  <p class="bold font-montserrat text-uppercase">
                    Rs {{ total }}
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4 m-t-10 sm-m-t-10">
              <button
                type="button"
                class="btn btn-primary btn-block m-t-5"
                [disabled]="invoiceForm.invalid"
                (click)="createInvoice()"
              >
                Create Now
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="patientInvoices" [hidden]="!showInvoiceForm">
        <div class="col-md-12">
          <div class="table-responsive table-invoice">
            <span class="label label-danger mt-2 pull-right"
              >Patient Invoices</span
            >
            <ngx-datatable
              #table
              class="table table-hover"
              [rows]="patientInvoices"
              [columnMode]="columnModeSetting"
              [headerHeight]="43"
              [footerHeight]="50"
              [rowHeight]="'auto'"
              [selectionType]="'checkbox'"
              [selected]="selected"
              [scrollbarH]="scrollBarHorizontal"
              (select)="onSelect($event)"
              (activate)="onActivate($event)"
            >
              <ngx-datatable-column
                name="patientName"
                cellClass="d-flex align-items-center"
              >
                <ng-template
                  let-row="row"
                  let-value="value"
                  ngx-datatable-cell-template
                >
                  <a href="javascript:void(0)" (click)="onClick(row)">{{
                    value
                  }}</a>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                name="lineItem"
                cellClass="d-flex align-items-center"
              >
                <ng-template
                  let-row="row"
                  let-value="value"
                  ngx-datatable-cell-template
                >
                  <a
                    href="javascript:;"
                    *ngFor="let value of row.lineItem"
                    class="btn btn-tag"
                    placement="right"
                    [tooltip]="value.priceComponent[0].amount.value"
                    >{{ value.priceComponent[0].code }}</a
                  ><br />
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                name="date"
                cellClass="d-flex align-items-center"
              >
                <ng-template
                  let-row="row"
                  let-value="value"
                  ngx-datatable-cell-template
                >
                  {{ value | date }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                name="totalNet"
                cellClass="d-flex align-items-center"
              >
              </ngx-datatable-column>
              <ngx-datatable-column
                name="status"
                cellClass="d-flex align-items-center"
              >
                <ng-template
                  let-row="row"
                  let-value="value"
                  ngx-datatable-cell-template
                >
                  <span
                    class="label mt-1"
                    [ngClass]="{
                      'label-success': value.toLowerCase() === 'balanced',
                      'label-warning': value.toLowerCase() === 'issued',
                      'label-danger': value.toLowerCase() === 'cancelled'
                    }"
                  >
                    {{ value }}</span
                  >
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-5">
      <div class="card p-3">
        <span class="h5 bold text-primary text-center">{{
          patient.name[0].text
        }}</span>
        <span class="h6 semi-bold text-default text-center">
          <i
            class="fa fa-circle"
            [ngClass]="{
              'text-danger': patient.status == 'incoming',
              'text-warning': patient.status == 'arrived',
              'text-success': patient.status == 'treated'
            }"
            aria-hidden="true"
          ></i>
          {{ patient.status }}</span
        >
        <hr />

        <div class="row" *ngIf="patient.gender">
          <div class="col-sm-1">
            <i class="fa fa-user-circle-o" aria-hidden="true"></i>
          </div>
          <div class="col-sm-4 mr-0">
            <span class="text-left">Gender</span>
          </div>
          <div class="col text-right">
            <span>{{ patient.gender }}</span>
          </div>
        </div>

        <div class="row" *ngIf="patient.condition">
          <div class="col-sm-1">
            <i class="fa fa-phone" aria-hidden="true"></i>
          </div>
          <div class="col-sm-3 mr-0">
            <span class="text-left">{{ patient.contact.relationship }}</span>
          </div>
          <div class="col text-right">
            <span># {{ patient.contact.telecom }}</span>
          </div>
        </div>

        <div class="row" *ngIf="patient.condition">
          <div class="col-sm-1">
            <i class="fa fa-stethoscope" aria-hidden="true"></i>
          </div>
          <div class="col mr-0">
            <span class="text-right">Emergency</span>
          </div>
          <div class="col text-right">
            <span>Level: {{ patient.condition.level }}</span>
          </div>
        </div>

        <div class="showDistanceInfo" [hidden]="loader">
          <div class="row" *ngIf="patient.time">
            <div class="col-sm-1">
              <i class="fa fa-calendar" aria-hidden="true"></i>
            </div>
            <div class="col-sm-4 mr-0">
              <span class="text-right">Arrival:</span>
            </div>
            <div class="col text-right" *ngIf="patient.time">
              <span>{{ patient.time }}</span>
            </div>
          </div>

          <div class="row" *ngIf="patient.distance">
            <div class="col-sm-1">
              <i class="fa fa-location-arrow" aria-hidden="true"></i>
            </div>
            <div class="col-sm-4 mr-0">
              <span class="text-right">Distance:</span>
            </div>
            <div class="col text-right">
              <span>{{ patient.distance }}</span>
            </div>
          </div>

          <div class="row" *ngIf="patient.place">
            <div class="col-sm-1">
              <i class="fa fa-map-pin" aria-hidden="true"></i>
            </div>
            <div class="col-sm-4 mr-0">
              <span class="text-right">At:</span>
            </div>
            <div class="col text-right">
              <span>{{ patient.place }}</span>
            </div>
          </div>
        </div>

        <pg-progress
          type="circle"
          indeterminate="true"
          color="primary"
          class="mt-auto mb-auto"
          [hidden]="!loader"
        ></pg-progress>

        <hr />

        <div *ngIf="patient.status == 'incoming'">
          <button
            type="button"
            class="btn btn-default btn-block btn-cons"
            (click)="calculateTime()"
          >
            <i class="fa fa-clock-o" aria-hidden="true"></i> Calculate Time
          </button>

          <hr />
        </div>

        <button
          type="button"
          class="btn btn-primary btn-block btn-cons"
          (click)="showInvoiceForm = !showInvoiceForm"
        >
          <i class="fa fa-money" aria-hidden="true"></i> Invoice Form
        </button>
        <br />

        <div *ngIf="patient.condition">
          <strong class="h5 text-primary">Condition</strong>
          <p *ngIf="patient.condition.description">
            {{ patient.condition.description }}
          </p>

          <a href="{{ patient.condition.picture }}" target="_blank"
            ><img src="{{ patient.condition.picture }}" class="w-100"
          /></a>
        </div>

        <div class="row mt-3">
          <div class="col-md-12">
            <button
              id="delete-user"
              type="button"
              class="btn btn-default btn-block btn-cons"
              (click)="
                updatePatient(patient.identifier.value, { status: 'arrived' })
              "
              *ngIf="patient.status == 'incoming'"
            >
              <i class="fa fa-plus-square" aria-hidden="true"></i> Mark Arrived
            </button>

            <button
              id="delete-user"
              type="button"
              class="btn btn-default btn-block btn-cons"
              (click)="
                updatePatient(patient.identifier.value, { status: 'treated' })
              "
              *ngIf="patient.status == 'arrived'"
            >
              <i class="fa fa-plus-square" aria-hidden="true"></i> Mark Treated
            </button>

            <button
              type="button"
              class="btn btn-default btn-block btn-cons"
              [routerLink]="['/parchi', patient.identifier.value]"
              *ngIf="patient.status == 'arrived' || patient.status == 'treated'"
            >
              <i class="fa fa-plus-square" aria-hidden="true"></i> Create Parchi
            </button>
          </div>
          <!-- <div class="col-md-6" *ngIf="!patient.practitioner">
            <button id="delete-user" type="button" class="btn btn-default btn-block btn-cons">
              <i class="fa fa-stethoscope" aria-hidden="true"></i> Asign Doctor
            </button>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</pg-container>
<!-- 
<div class="map-container card full-width" style="height: 500px">
  <ngui-map
    *ngIf="patient"
    [zoom]="11"
    [center]="{
      lat: patient.location.position.latitude.valueOf(),
      lng: patient.position.location.longitude.valueOf()
    }"
    [disableDefaultUI]="true"
  >
    <custom-marker
      [position]="[
        patient.location.position.latitude,
        patient.location.position.longitude
      ]"
    >
      <a href="javascript:void(0)">
        <img
          src="../../../../assets/img/patient.svg"
          width="32px"
          height="32px"
          alt=""
        />
        <div class="beacon"></div>
      </a>
    </custom-marker>

    <custom-marker position="alshifa internation, islamabad">
      <img src="../../../../assets/img/hospital.svg" width="36" height="36" />
    </custom-marker>
  </ngui-map>
</div> -->
