<nav
  class="navbar navbar-default bg-master-lighter sm-padding-10 full-width p-t-0 p-b-0"
  role="navigation"
>
  <div class="full-width">
    <pg-container>
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header text-center">
        <button
          type="button"
          class="navbar-toggle collapsed btn btn-link no-padding"
          (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed"
          aria-controls="sub-nav"
        >
          <i class="pg pg-more v-align-middle"></i>
        </button>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div
        class="collapse navbar-collapse"
        id="sub-nav"
        [collapse]="isCollapsed"
        *ngIf="currentInvoice"
      >
        <div class="row">
          <div class="col-sm-6">
            <ul class="navbar-nav col-sm-12 col-md-12  col-lg-6 ">
              <li class="nav-item dropdown" dropdown>
                <a
                  class="nav-link"
                  href="javascript:void(0);"
                  id="navbarDropdownMenuLink"
                  dropdownToggle
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <i class="fa fa-money m-r-10"></i> Status
                  <span [ngClass]="getClass(currentInvoice.status)">{{
                    currentInvoice.status
                  }}</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-sm-4">
            <ul class="navbar-nav d-flex flex-row">
              <li class="nav-item">
                <a
                  href="javascript:void(0)"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title="Print"
                  ><i class="fa fa-print"></i
                ></a>
              </li>
              <li class="nav-item">
                <a
                  href="javascript:void(0)"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title="Download"
                  ><i class="fa fa-download"></i
                ></a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  href="javascript:void(0);"
                  [routerLink]="[
                    '/payment',
                    currentInvoice.identifier[0].value
                  ]"
                  id="navbarDropdownMenuLink"
                  dropdownToggle
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <i class="fa fa-money m-r-10"></i> Payment
                </a>
              </li>
            </ul>
          </div>
          <div class="col-sm-2">
            <ul class="navbar-nav d-flex flex-row justify-content-sm-end">
              <li class="nav-item">
                <a
                  href="javascript:void(0)"
                  class="p-r-10"
                  (click)="setFullScreen()"
                  ><i class="fa fa-expand"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /.navbar-collapse -->
    </pg-container>
  </div>
  <!-- /.container-fluid -->
</nav>
<!-- START CONTAINER FLUID -->
<pg-container #invoice>
  <!-- START card -->
  <div class="card card-default m-t-20" *ngIf="currentInvoice">
    <div class="card-body">
      <div class="invoice padding-50 sm-padding-10">
        <div>
          <div class="pull-left mt-4">
            <address class="m-t-10">
              <!-- {{ currentInvoice.patientAddress }} -->
              <br />(877) 412-7753.
              <br />
            </address>
          </div>
          <div class="pull-right sm-m-t-20">
            <h2 class="font-montserrat all-caps hint-text">Invoice</h2>
          </div>
          <div class="clearfix"></div>
        </div>
        <br />
        <br />
        <div class="col-12">
          <div class="row">
            <div class="col-lg-7 col-sm-height sm-no-padding">
              <p class="small no-margin">Invoice to</p>
              <h5 class="semi-bold m-t-0">{{ currentInvoice.patientName }}</h5>
              <address>
                <strong>Al Shifa International Hospital.</strong>
                <br />Salama.inc
                <br />
                Street #4, 144 Islamabad,<br />
                Punjab, Pakistan
              </address>
            </div>
            <div
              class="col-lg-5 sm-no-padding sm-p-b-20 d-flex align-items-end justify-content-between"
            >
              <div>
                <div class="font-montserrat bold all-caps">Invoice No :</div>
                <div class="font-montserrat bold all-caps">Invoice date :</div>
                <div class="clearfix"></div>
              </div>
              <div class="text-right">
                <div class="">{{ currentInvoice.identifier[0].value }}</div>
                <div class="">{{ currentInvoice.date | date }}</div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="table-responsive table-invoice">
          <table class="table m-t-50">
            <thead>
              <tr>
                <th class="">Task Description</th>
                <th class="text-right">Cost</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of currentInvoice.lineItem">
                <td class="">
                  <p class="text-black">{{ item.priceComponent[0].code }}</p>
                  <!-- <p class="small hint-text">
                    {{ item.description }}
                  </p> -->
                </td>
                <td class="text-right">
                  Rs {{ item.priceComponent[0].amount.value }}
                </td>
              </tr>
              <!-- <tr>
                <td class="">
                  <p class="text-black">Heart Transplant</p>
                  <p class="small hint-text">
                    A quick brown fox jumps over the lazy dog.
                  </p>
                </td>
                <td class="text-center">$89.00</td>
                <td class="text-center">100</td>
                <td class="text-right">$8,900.00</td>
              </tr> -->
            </tbody>
          </table>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <div>
          <p>Signature</p>
        </div>
        <br />
        <br />
        <div class="p-l-15 p-r-15">
          <div class="row b-a b-grey">
            <div
              class="col-md-7 clearfix sm-p-b-15 d-flex flex-column justify-content-center"
            >
              <!-- <h5 class="font-montserrat all-caps small no-margin hint-text bold">
                Discount
              </h5>
              <h3 class="no-margin">Rs {{ currentInvoice.discount }}</h3> -->
            </div>
            <div
              class="col-md-5 text-right bg-master-darker col-sm-height padding-15 d-flex flex-column justify-content-center align-items-end"
            >
              <h5
                class="font-montserrat all-caps small no-margin hint-text text-white bold"
              >
                Total
              </h5>
              <h1 class="no-margin text-white">
                Rs {{ currentInvoice.totalNet }}
              </h1>
            </div>
          </div>
        </div>
        <hr />
        <p class="small hint-text">
          Services will be invoiced in accordance with the Service Description.
          You must pay all undisputed invoices in full within 30 days of the
          invoice date, unless otherwise specified under the Special Terms and
          Conditions. All payments must reference the invoice number. Unless
          otherwise specified, all invoices shall be paid in the currency of the
          invoice
        </p>
        <p class="small hint-text">
          Insight retains the right to decline to extend credit and to require
          that the applicable purchase price be paid prior to performance of
          Services based on changes in insight's credit policies or your
          financial condition and/or payment record. Insight reserves the right
          to charge interest of 1.5% per month or the maximum allowable by
          applicable law, whichever is less, for any undisputed past due
          invoices. You are responsible for all costs of collection, including
          reasonable attorneys' fees, for any payment default on undisputed
          invoices. In addition, Insight may terminate all further work if
          payment is not received in a timely manner.
        </p>
        <br />
        <hr />
        <div>
          <span class="m-l-70 text-black sm-pull-right"> +92 311 8833328</span>
          <span class="m-l-40 text-black sm-pull-right">support@salama.io</span>
        </div>
      </div>
    </div>
  </div>
  <!-- END card -->
</pg-container>
<!-- END CONTAINER FLUID -->
