<!-- START CONTAINER FLUID -->
<pg-container #invoice>
  <!-- START card -->
  <div class="card card-default m-t-20" *ngIf="patient">
    <div class="card-body">
      <div class="invoice padding-50 sm-padding-10">
        <div>
          <div class="pull-left mt-4">
            <address class="m-t-10">
              <!-- {{ currentInvoice.patientAddress }} -->
              <br />(877) 412-7753.
              <br />
            </address>
          </div>
          <div class="pull-right sm-m-t-20">
            <h2 class="font-montserrat all-caps hint-text">Parchi</h2>
          </div>
          <div class="clearfix"></div>
        </div>
        <br />
        <br />
        <div class="col-12">
          <div class="row">
            <div class="col-lg-7 col-sm-height sm-no-padding">
              <p class="small no-margin">Patient Name</p>
              <h5 class="semi-bold m-t-0">{{ patient.name[0].text }}</h5>
              <address>
                <strong>Al Shifa International Hospital.</strong>
                <br />Salama.inc
                <br />
                <p *ngIf="patient.address">
                  {{ patient.address }}
                </p>
              </address>
            </div>
            <div
              class="col-lg-5 sm-no-padding sm-p-b-20 d-flex align-items-end justify-content-between"
            >
              <div>
                <div class="font-montserrat bold all-caps">Parchi No :</div>
                <div class="font-montserrat bold all-caps">Invoice date :</div>
                <div class="clearfix"></div>
              </div>
              <div class="text-right">
                <div class="">{{ patient.identifier.value }}</div>
                <div class="">
                  {{ patient.deceasedDateTime.toDate() | date }}
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>

        <hr />

        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />

        <div>
          <p>Signature</p>
        </div>
        <br />
        <br />
        <br />

        <hr />
        <p class="small hint-text">
          Services will be invoiced in accordance with the Service Description.
          You must pay all undisputed invoices in full within 30 days of the
          invoice date, unless otherwise specified under the Special Terms and
          Conditions. All payments must reference the invoice number. Unless
          otherwise specified, all invoices shall be paid in the currency of the
          invoice
        </p>
        <p class="small hint-text">
          Insight retains the right to decline to extend credit and to require
          that the applicable purchase price be paid prior to performance of
          Services based on changes in insight's credit policies or your
          financial condition and/or payment record. Insight reserves the right
          to charge interest of 1.5% per month or the maximum allowable by
          applicable law, whichever is less, for any undisputed past due
          invoices. You are responsible for all costs of collection, including
          reasonable attorneys' fees, for any payment default on undisputed
          invoices. In addition, Insight may terminate all further work if
          payment is not received in a timely manner.
        </p>
        <br />
        <hr />
        <div>
          <span class="m-l-70 text-black sm-pull-right"> +92 311 8833328</span>
          <span class="m-l-40 text-black sm-pull-right">support@salama.io</span>
        </div>
      </div>
    </div>
  </div>
  <!-- END card -->
</pg-container>
<!-- END CONTAINER FLUID -->
