<!-- MODAL STICK UP  -->
<div
  bsModal
  #addNewUserModal="bs-modal"
  class="modal fade stick-up"
  tabindex="-1"
  role="dialog"
  aria-labelledby="addNewUserModal"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header clearfix ">
        <button
          type="button"
          class="close"
          (click)="addNewUserModal.hide()"
          aria-hidden="true"
        >
          <i class="pg pg-close fs-14"></i>
        </button>
        <h4 class="p-b-5"><span class="semi-bold">Create </span>New User</h4>
      </div>
      <div class="modal-body">
        <p class="small-text">
          Create a new user using this form, make sure you fill them all.
        </p>
        <form role="form" autocomplete="off" [formGroup]="userForm">
          <div class="row">
            <div class="col-sm-12">
              <div
                class="form-group form-group-default input-group required"
                [class.has-error]="name.invalid && (name.dirty || name.touched)"
              >
                <div class="form-input-group">
                  <label>Full name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    name="name"
                    formControlName="name"
                    required
                    placeholder="Enter valid full name"
                  />
                </div>
                <div class="input-group-append">
                  <span class="input-group-text"
                    ><i class="fa fa-user-circle" aria-hidden="true"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div
                class="form-group form-group-default input-group required"
                [class.has-error]="
                  email.invalid && (email.dirty || email.touched)
                "
              >
                <div class="form-input-group">
                  <label>Email</label>
                  <input
                    type="text"
                    placeholder="Enter valid email address"
                    class="form-control"
                    id="email"
                    name="email"
                    formControlName="email"
                    required
                  />
                </div>
                <div class="input-group-append">
                  <span class="input-group-text"
                    ><i class="fa fa-envelope-o" aria-hidden="true"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div
                class="form-group form-group-default input-group required"
                [class.has-error]="
                  password.invalid && (password.dirty || password.touched)
                "
              >
                <div class="form-input-group">
                  <label>Password</label>
                  <input
                    type="password"
                    class="form-control"
                    id="password"
                    name="password"
                    formControlName="password"
                    placeholder="Min length 8 characters"
                    required
                  />
                </div>
                <div class="input-group-append">
                  <span class="input-group-text"
                    ><i class="fa fa-key" aria-hidden="true"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <label>User Type</label>
              <div class="radio radio-primary">
                <input
                  type="radio"
                  checked="checked"
                  value="ambulanceUser"
                  name="type"
                  id="ambulanceUser"
                  [(ngModel)]="userType"
                  [ngModelOptions]="{ standalone: true }"
                />
                <label for="ambulanceUser">Ambulance User</label>
                <input
                  type="radio"
                  value="practitioner"
                  name="type"
                  id="practitioner"
                  [(ngModel)]="userType"
                  [ngModelOptions]="{ standalone: true }"
                />
                <label for="practitioner">Practitioner</label>
              </div>
            </div>

            <div class="col-sm-6">
              <label>Upload Photo</label>
              <br />
              <pg-upload
                ListType="picture-card"
                [Multiple]="false"
                [Limit]="0"
                (Change)="handleChange($event)"
              >
                <div class="pic-placeholder">
                  <i
                    class="fa fa-cloud-upload p-b-5"
                    style="font-size: 21px;"
                  ></i>
                  <div class="fs-12">Upload</div>
                </div>
              </pg-upload>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          id="add-app"
          type="button"
          class="btn btn-primary  btn-cons"
          (click)="addUser()"
          [class.disabled]="userForm.invalid"
          [disabled]="userForm.invalid"
        >
          Add
        </button>
        <button
          type="button"
          class="btn btn-cons"
          (click)="addNewUserModal.hide()"
        >
          Close
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<!-- Navbar -->
<nav
  class="navbar navbar-default bg-master-lighter sm-padding-10 full-width p-t-0 p-b-0"
  role="navigation"
>
  <div class="full-width">
    <pg-container>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="sub-nav">
        <div class="row mt-4 mb-3">
          <div class="col-sm-12">
            <ul class="navbar-nav d-flex flex-row justify-content-sm-end">
              <li>
                <p class="mt-2 mr-2 semi-bold">Select User Type</p>
              </li>
              <li class="nav-item mr-3">
                <pg-select
                  style="width: 200px"
                  [(ngModel)]="selectedOption"
                  [PlaceHolder]="selectedOption.value"
                >
                  <pg-option
                    *ngFor="let option of options"
                    [Label]="option.label"
                    [Value]="option"
                  >
                  </pg-option>
                </pg-select>
              </li>
              <li class="nav-item">
                <button
                  type="button"
                  (click)="showModal()"
                  class="btn btn-primary btn-cons btn-animated from-left fa fa-plus"
                >
                  <span>Add User</span>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /.navbar-collapse -->
    </pg-container>
  </div>
  <!-- /.container-fluid -->
</nav>
<!-- START CONTAINER FLUID -->
<pg-container>
  <div class="row mt-4">
    <div
      class="col-md-6"
      *ngIf="
        selectedOption.value == 'ambulanceUsers' ||
        selectedOption.value == 'all'
      "
    >
      <div
        class="card"
        *ngFor="let user of AmbulanceUsers"
        [routerLink]="['ambulanceUser', user.identifier.value]"
      >
        <div class="row">
          <div class="col-sm-3">
            <img
              src="{{ user.photo.url }}"
              alt=""
              srcset=""
              width="100"
              height="100"
            />
          </div>

          <div class="col-sm-6 mt-auto mb-auto">
            <span class="h5 bold text-primary">{{ user.name[0].text }}</span>
            <br />
            <span
              ><i class="fa fa-envelope" aria-hidden="true"></i>
              {{ user.email }}</span
            >
            <br />
            <span
              ><i class="fa fa-user-circle" aria-hidden="true"></i> Ambulance
              User</span
            >
          </div>
          <div class="col-sm-3 mt-auto mb-auto ml-auto">
            <span class="semi-bold" *ngIf="user.login"
              >Available
              <i
                class="fa "
                [ngClass]="
                  user.login == true
                    ? 'fa-check-circle text-success'
                    : 'fa-power-off text-danger'
                "
                aria-hidden="true"
              ></i
            ></span>
            <span class="semi-bold" *ngIf="!user.login"
              >Offline
              <i
                class="fa "
                [ngClass]="
                  user.login == true
                    ? 'fa-check-circle text-success'
                    : 'fa-power-off text-danger'
                "
                aria-hidden="true"
              ></i
            ></span>
            <br />
          </div>
        </div>
      </div>
    </div>

    <div
      class="col-md-6"
      *ngIf="
        selectedOption.value == 'practitioners' || selectedOption.value == 'all'
      "
    >
      <div
        class="card"
        *ngFor="let user of Practitioners"
        [routerLink]="['practitioner', user.identifier.value]"
      >
        <div class="row">
          <div class="col-sm-3">
            <img
              src="{{ user.photo[0].url }}"
              alt=""
              width="100"
              height="100"
            />
          </div>

          <div class="col-sm-6 mt-auto mb-auto">
            <span class="h5 bold text-primary">{{ user.name[0].text }}</span>
            <i class="fa fa-check-circle text-success ml-3"></i>
            <br />
            <span
              ><i class="fa fa-envelope" aria-hidden="true"></i>
              {{ user.email }}</span
            >
            <br />
            <span
              ><i class="fa fa-user-circle" aria-hidden="true"></i>
              Practitioner</span
            >
          </div>
          <!-- <div class="col-sm-3 mt-auto mb-auto ml-auto">
            <span class="semi-bold" *ngIf="user.login"
              >Available
              <i
                class="fa "
                [ngClass]="
                  user.login == true
                    ? 'fa-check-circle text-success'
                    : 'fa-power-off text-danger'
                "
                aria-hidden="true"
              ></i
            ></span>
            <span class="semi-bold" *ngIf="!user.login"
              >Offline
              <i
                class="fa "
                [ngClass]="
                  user.login == true
                    ? 'fa-check-circle text-success'
                    : 'fa-power-off text-danger'
                "
                aria-hidden="true"
              ></i
            ></span>
            <br />
          </div> -->
        </div>
      </div>
    </div>
  </div>
</pg-container>
