<div class="login-wrapper ">
  <!-- START Login Background Pic Wrapper -->
  <div class="bg-pic">
    <!-- START Background Pic -->
    <img src="../../../assets/img/emergency.jpeg" alt="" class="lazy" />
    <!-- END Background Pic -->
    <!-- START Background Caption -->
    <div class="bg-caption pull-bottom sm-pull-bottom text-white p-l-20 m-b-20">
      <h2 class="semi-bold text-white">
        Salama - Smart Health Web and Mobile Application
      </h2>

      <p class="small">
        Provision of mobile-based interface to ambulance user to share initial
        emergency information. The patient initial symptoms and context may be
        shared to properly manage all resources at his/her arrival to hospital.
      </p>
    </div>
    <!-- END Background Caption -->
  </div>
  <!-- END Login Background Pic Wrapper -->
  <!-- START Login Right Container -->
  <div class="login-container bg-white">
    <div
      class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 m-t-30 sm-p-l-15 sm-p-r-15 sm-p-t-40"
      style="margin-top: 260px"
    >
      <img src="assets/img/logo.png" alt="logo" width="300px" height="auto" />

      <p class="p-t-35">Sign into your admin account</p>
      <!-- START Login Form -->
      <form
        class="p-t-15"
        role="form"
        #loginForm="ngForm"
        (ngSubmit)="onSubmit()"
      >
        <!-- START Form Control -->
        <div
          pgFormGroupDefault
          class="form-group form-group-default"
          [class.has-error]="
            loginUserName.invalid &&
            (loginUserName.dirty || loginUserName.touched)
          "
        >
          <label>Login</label>
          <input
            type="email"
            id="userName"
            name="userName"
            [(ngModel)]="userName"
            #loginUserName="ngModel"
            required
            placeholder="User Name"
            class="form-control"
          />
        </div>
        <div
          *ngIf="
            loginUserName.invalid &&
            (loginUserName.dirty || loginUserName.touched)
          "
        >
          <label *ngIf="loginUserName?.errors.required" class="error"
            >This field is required.</label
          >
        </div>
        <!-- END Form Control -->
        <!-- START Form Control -->
        <div
          pgFormGroupDefault
          class="form-group form-group-default"
          [class.has-error]="
            loginPassword.invalid &&
            (loginPassword.dirty || loginPassword.touched)
          "
        >
          <label>Password</label>
          <input
            type="password"
            class="form-control"
            placeholder="Credentials"
            id="password"
            name="password"
            [(ngModel)]="password"
            #loginPassword="ngModel"
            required
          />
        </div>
        <div
          *ngIf="
            loginPassword.invalid &&
            (loginPassword.dirty || loginPassword.touched)
          "
        >
          <label *ngIf="loginPassword?.errors.required" class="error"
            >This field is required.</label
          >
        </div>
        <!-- START Form Control -->
        <div class="row">
          <div class="col-md-6 no-padding sm-p-l-10">
            <div class="checkbox ">
              <input type="checkbox" value="1" checked id="checkbox1" />
              <label for="checkbox1">Keep Me Signed in</label>
            </div>
          </div>
        </div>
        <!-- END Form Control -->
        <button
          class="btn btn-primary btn-block btn-cons m-t-10"
          type="submit"
          [class.disabled]="loginForm.invalid"
        >
          Sign in
        </button>
      </form>
      <!-- END Login Form -->
    </div>
  </div>
  <!-- END Login Right Container -->
</div>
