<!-- START CONTAINER FLUID -->
<pg-container>
  <div class="row mt-5">
    <div class="col-md-4">
      <div class="card p-3" *ngIf="currentUser">
        <img
          class="thumbnail-wrapper circular bordered b-white mt-3 mr-auto ml-auto"
          src="{{ currentUser.photo.url }}"
          alt=""
          srcset=""
          width="100"
          height="100"
        />

        <span class="h5 bold text-primary text-center">{{
          currentUser.name[0].text
        }}</span>
        <span class="h6 semi-bold text-default text-center">
          <span *ngIf="type == 'ambulanceUser'">Ambulance User </span>
          <span *ngIf="type == 'practitioner'">Practitioner </span>
          <i
            class="fa"
            aria-hidden="true"
            [ngClass]="
              currentUser.login
                ? 'fa-circle-o text-success'
                : 'fa-circle-o text-danger'
            "
          ></i
        ></span>
        <hr />
        <div class="row">
          <div class="col-sm-1">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </div>
          <div class="col-sm-3">
            <span class="text-left">Email</span>
          </div>
          <div class="col-sm-7 mr-0 pr-0 text-right">
            <span class="text-right">{{ currentUser.email }}</span>
          </div>
        </div>

        <div class="row" *ngIf="currentUser.qualification">
          <div class="col-sm-1">
            <i class="fa fa-book" aria-hidden="true"></i>
          </div>
          <div class="col-sm-3 mr-0">
            <span class="text-left">Degree</span>
          </div>
          <div class="col-sm-7 mr-0 pr-0 text-right">
            <span class="text-right">{{ currentUser.qualification }}</span>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-1">
            <i class="fa fa-user-circle-o" aria-hidden="true"></i>
          </div>
          <div class="col-sm-3 mr-0">
            <span class="text-left">Gender</span>
          </div>
          <div class="col-sm-7 mr-0 pr-0 text-right">
            <span class="text-right">{{ currentUser.gender }}</span>
          </div>
        </div>

        <hr />

        <h4>Bio</h4>
        <p>
          {{ currentUser.bio }}
        </p>

        <hr />

        <button
          id="delete-user"
          type="button"
          class="btn btn-danger btn-block btn-cons"
          (click)="deleteUser(currentUser.id); fadInModal.show()"
        >
          <i class="fa fa-minus-square" aria-hidden="true"></i> Delete User
        </button>
      </div>
    </div>

    <div class="col-md-8" *ngIf="type == 'practitioner'">
      <div class="card">
        <div class="card-header ">
          <div class="h5 bold">Patients</div>
          <div class="clearfix"></div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <ngx-datatable
              class="table table-hover"
              [rows]="patients"
              [columnMode]="columnModeSetting"
              [headerHeight]="43"
              [footerHeight]="50"
              [rowHeight]="'auto'"
              [limit]="5"
              [scrollbarH]="scrollBarHorizontal"
              (activate)="onActivate($event)"
            >
              <ngx-datatable-column
                name="name"
                cellClass="d-flex align-items-center"
              ></ngx-datatable-column>
              <ngx-datatable-column
                name="condition"
                cellClass="d-flex align-items-center"
              >
                <ng-template
                  let-row="row"
                  let-value="value"
                  ngx-datatable-cell-template
                >
                  <span>{{ value.category }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                name="date"
                cellClass="d-flex align-items-center"
              >
                <ng-template
                  let-row="row"
                  let-value="value"
                  ngx-datatable-cell-template
                >
                  <span>{{ value.toDate() | date }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                name="telecom"
                cellClass="d-flex align-items-center"
              ></ngx-datatable-column>
              <ngx-datatable-column
                name="status"
                cellClass="d-flex align-items-center"
              >
                <ng-template
                  let-row="row"
                  let-value="value"
                  ngx-datatable-cell-template
                >
                  <span
                    class="label mt-1"
                    [ngClass]="{
                      'label-success': value === 'treated',
                      'label-warning': value === 'expired',
                      'label-danger': value === 'incoming'
                    }"
                  >
                    {{ value }}</span
                  >
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-8" *ngIf="type == 'ambulanceUser'">
      <div class="card">
        <div class="card-header ">
          <div class="h5 bold">Recent Trips</div>
          <div class="clearfix"></div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <ngx-datatable
              class="table table-hover"
              [rows]="trips"
              [columnMode]="columnModeSetting"
              [headerHeight]="43"
              [footerHeight]="50"
              [rowHeight]="'auto'"
              [limit]="5"
              [scrollbarH]="scrollBarHorizontal"
              (activate)="onActivate($event)"
            >
              <ngx-datatable-column
                name="patient"
                cellClass="d-flex align-items-center"
              ></ngx-datatable-column>
              <ngx-datatable-column
                name="to"
                cellClass="d-flex align-items-center"
              ></ngx-datatable-column>
              <ngx-datatable-column
                name="from"
                cellClass="d-flex align-items-center"
              ></ngx-datatable-column>
              <ngx-datatable-column
                name="distance"
                cellClass="d-flex align-items-center"
              ></ngx-datatable-column>
              <ngx-datatable-column
                name="duration"
                cellClass="d-flex align-items-center"
              ></ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</pg-container>

<div
  bsModal
  #fadInModal="bs-modal"
  class="modal fade fill-in"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <button
    type="button"
    class="close"
    (click)="fadInModal.hide()"
    aria-hidden="true"
  >
    <i class="pg pg-close"></i>
  </button>
  <div class="modal-dialog ">
    <div class="modal-content">
      <pg-progress
        type="circle"
        indeterminate="true"
        color="danger"
      ></pg-progress>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
