<pg-container extraHorizontalClass="relative">
  <div class="map-controls">
    <div class="pull-right">
      <div class="btn-group btn-group-horizontal mr-5">
        <button (click)="zoomIn()" class="btn btn-success btn-xs">
          <i class="fa fa-plus"></i>
        </button>
        <button (click)="zoomOut()" class="btn btn-success btn-xs">
          <i class="fa fa-minus"></i>
        </button>
        <button
          [routerLink]="['/patient-records']"
          routerLinkActive="router-link-active"
          class="btn btn-primary btn-xs"
        >
          <i class="fa fa-bookmark mr-2"></i> Patient Records
        </button>
      </div>

      <div class="btn-group btn-group-horizontal align-right">
        <button
          class="btn btn-danger btn-xs"
          (click)="showIncomingPatients = !showIncomingPatients"
        >
          <i class="fa fa-stethoscope mr-2"></i>
          Incoming Patients
        </button>
        <button
          class="btn btn-default btn-xs"
          (click)="showAmbulances = !showAmbulances"
        >
          <i class="fa fa-ambulance mr-2"></i>
          Ambulances
        </button>
      </div>

      <div class="row">
        <div class="col-md-12" *ngIf="ambulance">
          <div class="card mt-5 p-3" [hidden]="!showAmbulanceInfo">
            <div class="row">
              <div class="col-md-11">
                <span class="h5 bold text-primary text-center">{{
                  ambulance.name
                }}</span>
              </div>
              <div class="col-md-1">
                <a href="javascript:void(0)"
                  ><i
                    class="pg pg-close"
                    aria-hidden="true"
                    (click)="showAmbulanceInfo = false"
                  ></i
                ></a>
              </div>
            </div>

            <hr />

            <div class="row" *ngIf="ambulance.telecom">
              <div class="col-sm-1">
                <i class="fa fa-phone" aria-hidden="true"></i>
              </div>
              <div class="col-sm-4 mr-0">
                <span class="text-left">Phone</span>
              </div>
              <div class="col text-right">
                <span>{{ ambulance.telecom[0].value }}</span>
              </div>
            </div>

            <div class="row" *ngIf="ambulance.email">
              <div class="col-sm-1">
                <i class="fa fa-id-card" aria-hidden="true"></i>
              </div>
              <div class="col-sm-4 mr-0">
                <span class="text-left">Email</span>
              </div>
              <div class="col text-right">
                <span>{{ ambulance.email }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12" *ngIf="patient">
          <div class="card mt-5 p-3" [hidden]="!showPatientInfo">
            <pg-progress
              type="circle"
              indeterminate="true"
              color="primary"
              class="mt-auto mb-auto"
              [hidden]="!loader"
            ></pg-progress>
            <div class="patient-data" [hidden]="loader">
              <div class="row">
                <div class="col-md-11">
                  <span class="h5 bold text-primary text-center">{{
                    patient.name[0].text
                  }}</span>
                </div>
                <div class="col-md-1">
                  <a href="javascript:void(0)"
                    ><i
                      class="pg pg-close"
                      aria-hidden="true"
                      (click)="showPatientInfo = false"
                    ></i
                  ></a>
                </div>
              </div>

              <hr />

              <div class="row" *ngIf="patient.gender">
                <div class="col-sm-1">
                  <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                </div>
                <div class="col-sm-4 mr-0">
                  <span class="text-left">Gender</span>
                </div>
                <div class="col text-right">
                  <span>{{ patient.gender }}</span>
                </div>
              </div>

              <div class="row" *ngIf="patient.condition">
                <div class="col-sm-1">
                  <i class="fa fa-phone" aria-hidden="true"></i>
                </div>
                <div class="col-sm-3 mr-0">
                  <span class="text-left">{{
                    patient.contact.relationship
                  }}</span>
                </div>
                <div class="col text-right">
                  <span># {{ patient.contact.telecom.value }}</span>
                </div>
              </div>

              <div class="row" *ngIf="patient.condition">
                <div class="col-sm-1">
                  <i class="fa fa-stethoscope" aria-hidden="true"></i>
                </div>
                <div class="col mr-0">
                  <span class="text-right">Emergency</span>
                </div>
                <div class="col text-right">
                  <span>Level: {{ patient.condition.level }}</span>
                </div>
              </div>

              <div class="row" *ngIf="patient.time">
                <div class="col-sm-1">
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                </div>
                <div class="col-sm-4 mr-0">
                  <span class="text-right">Arrival:</span>
                </div>
                <div class="col text-right" *ngIf="patient.time">
                  <span>{{ patient.time }}</span>
                </div>
              </div>

              <div class="row" *ngIf="patient.distance">
                <div class="col-sm-1">
                  <i class="fa fa-location-arrow" aria-hidden="true"></i>
                </div>
                <div class="col-sm-4 mr-0">
                  <span class="text-right">Distance:</span>
                </div>
                <div class="col text-right">
                  <span>{{ patient.distance }}</span>
                </div>
              </div>

              <div class="row" *ngIf="patient.place">
                <div class="col-sm-1">
                  <i class="fa fa-map-pin" aria-hidden="true"></i>
                </div>
                <div class="col-sm-4 mr-0">
                  <span class="text-right">At:</span>
                </div>
                <div class="col text-right">
                  <span>{{ patient.place }}</span>
                </div>
              </div>

              <hr />

              <h4>Condition</h4>
              <p *ngIf="patient.condition">
                {{ patient.condition.description }}
              </p>

              <hr />

              <button
                id="show-details"
                [routerLink]="['/patient-records', patient.identifier.value]"
                type="button"
                class="btn btn-default btn-block btn-cons"
              >
                <i class="fa fa-plus-square" aria-hidden="true"></i> Show
                Details
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</pg-container>

<!-- Map -->
<div class="map-container full-width full-height">
  <ngui-map
    [zoom]="zoomLevel"
    [styles]="styles"
    [center]="center"
    [disableDefaultUI]="disableDefaultUI"
  >
    <custom-marker
      *ngFor="let patient of patients"
      [position]="[
        patient.location.position.latitude,
        patient.location.position.longitude
      ]"
      [hidden]="!showIncomingPatients"
    >
      <a href="javascript:void(0)" (click)="patientDetails(patient)">
        <!-- <span class="text-white">House</span> -->
        <img
          src="../../../../assets/img/patient.svg"
          width="32px"
          height="32px"
          alt=""
        />
        <div class="beacon"></div>
      </a>
    </custom-marker>

    <ng-template #ambulanceMarker *ngIf="ambulances">
      <custom-marker
        *ngFor="let ambulance of ambulances"
        [position]="[
          ambulance.location.position.latitude,
          ambulance.location.position.longitude
        ]"
        [hidden]="!showAmbulances"
      >
        <a href="javascript:void(0)" (click)="ambulanceInfo(ambulance)">
          <!-- <span class="text-white">House</span> -->
          <img
            src="../../../../assets/img/ambulance.svg"
            width="28px"
            height="28px"
            alt=""
          />
          <!-- <div class="beacon"></div> -->
        </a>
      </custom-marker>
    </ng-template>

    <custom-marker position="alshifa internation, islamabad">
      <img src="../../../../assets/img/hospital.svg" width="36" height="36" />
    </custom-marker>
  </ngui-map>
</div>
