<div
  bsModal
  #mdSlideUp="bs-modal"
  class="modal fade slide-up disable-scroll"
  tabindex="-1"
  role="dialog"
  aria-hidden="false"
>
  <div class="modal-dialog modal-slideUp.md">
    <div class="modal-content-wrapper">
      <div class="modal-content">
        <div class="modal-header clearfix text-left">
          <button
            type="button"
            class="close"
            (click)="mdSlideUp.hide()"
            aria-hidden="true"
          >
            <i class="pg pg-close fs-14"></i>
          </button>
          <h5>Invoice <span class="semi-bold">Information</span></h5>
          <p class="p-b-10">Enter the information to generate Invoice</p>
        </div>
        <div class="modal-body">
          <form role="form" [formGroup]="invoiceForm">
            <div class="row">
              <div class="col-md-12">
                <div
                  class="form-group form-group-default input-group required"
                  [class.has-error]="
                    patientId.invalid && (patientId.dirty || patientId.touched)
                  "
                >
                  <div class="form-input-group">
                    <label>Patient ID</label>
                    <input
                      type="text"
                      class="form-control"
                      id="patientId"
                      name="patientId"
                      formControlName="patientId"
                      required
                    />
                  </div>
                  <div class="input-group-append">
                    <span class="input-group-text"
                      ><i class="fa fa-id-card" aria-hidden="true"></i>
                    </span>
                  </div>
                </div>

                <div
                  class="form-group form-group-default input-group required"
                  [class.has-error]="
                    patientId.invalid && (patientId.dirty || patientId.touched)
                  "
                >
                  <div class="form-input-group">
                    <label>Patient Name</label>
                    <input
                      type="text"
                      class="form-control"
                      id="patientName"
                      name="patientName"
                      formControlName="patientName"
                      required
                    />
                  </div>

                  <div class="input-group-append">
                    <span class="input-group-text"
                      ><i class="fa fa-user" aria-hidden="true"></i>
                    </span>
                  </div>
                </div>

                <!-- <div class="form-group form-group-default input-group required" [class.has-error]="
                    patientAddress.invalid &&
                    (patientAddress.dirty || patientAddress.touched)
                  ">
                  <div class="form-input-group">
                    <label>Patient Address</label>
                    <input type="textarea" class="form-control" id="patientAddress" name="patientAddress"
                      formControlName="patientAddress" required />
                  </div>
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-address-book" aria-hidden="true"></i>
                    </span>
                  </div>
                </div> -->

                <div class="form-group form-group-default input-group required">
                  <div class="form-input-group">
                    <label>Check In</label>
                    <pg-datepicker
                      formControlName="date"
                      [DisabledDate]="disabledDate"
                    ></pg-datepicker>
                  </div>
                  <div class="input-group-append">
                    <span class="input-group-text">
                      <i class="fa fa-calendar"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div formArrayName="treatments">
              <div
                class="row"
                *ngFor="let value of treatmentsForm.controls; let i = index"
                [formGroupName]="i"
              >
                <div class="col-md-7">
                  <div
                    class="form-group form-group-default input-group required"
                  >
                    <div class="form-input-group">
                      <label>Treatment</label>
                      <input
                        type="textarea"
                        class="form-control"
                        id="treatment"
                        name="treatment"
                        formControlName="treatment"
                        required
                      />
                    </div>
                    <div class="input-group-append">
                      <span class="input-group-text"
                        ><i class="fa fa-stethoscope" aria-hidden="true"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div
                    class="form-group form-group-default input-group required"
                  >
                    <div class="form-input-group">
                      <label>Cost</label>
                      <input
                        type="text"
                        class="autonumeric form-control"
                        placeholder="Eg. 1000"
                        formControlName="cost"
                      />
                    </div>
                    <div class="input-group-prepend">
                      <span class="input-group-text">Rs </span>
                    </div>
                  </div>
                </div>
                <div class="col-md-1">
                  <i
                    class="fa fa-minus-square mt-4 text-danger"
                    aria-hidden="true"
                    (click)="deleteTreatment(i)"
                  ></i>
                </div>
              </div>
              <button class="btn btn-success" (click)="addTreatment()">
                Add Treatment
              </button>
            </div>
          </form>
          <div class="row">
            <div class="col-md-8">
              <div class="p-t-20 clearfix p-l-10 p-r-10">
                <div class="pull-left">
                  <p class="bold font-montserrat text-uppercase">TOTAL</p>
                </div>
                <div class="pull-right">
                  <p class="bold font-montserrat text-uppercase">
                    Rs {{ total }}
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4 m-t-10 sm-m-t-10">
              <button
                type="button"
                class="btn btn-primary btn-block m-t-5"
                [disabled]="invoiceForm.invalid"
                (click)="createInvoice()"
              >
                Create Now
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
</div>

<pg-container>
  <div class="mt-5">
    <div class="card p-4">
      <div class="row">
        <div class="col-md-3 border-right">
          <div class="text-center">
            <span class="hint-text">Total</span> <br />
            <span class="h2 semi-bold">{{ totalInvoices }}</span>
          </div>
        </div>
        <div class="col-md-3 border-right">
          <div class="text-center">
            <span class="hint-text">Due</span> <br />
            <span class="h2 semi-bold">{{ dueInvoices }}</span>
          </div>
        </div>
        <div class="col-md-3 border-right">
          <div class="text-center">
            <span class="hint-text">Cancelled Invoices</span> <br />
            <span class="h2 semi-bold">{{ cancelledInvoice }}</span>
          </div>
        </div>
        <div class="col-md-3">
          <div class="text-center">
            <span class="hint-text">Paid</span> <br />
            <span class="h2 semi-bold">{{ paidInvoices }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</pg-container>

<pg-container>
  <nav
    class="navbar navbar-default bg-light sm-padding-10 mt-5 p-t-0 p-b-0"
    role="navigation"
    mt-4
  >
    <div class="full-width">
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="sub-nav">
        <div class="row mt-2 mb-2">
          <div class="col-sm-4 p-l-0">
            <ul
              class="navbar-nav d-flex flex-row justify-content-sm-start text-uppercase"
            >
              <button
                (click)="showInvoiceMoodel()"
                class="btn btn-primary btn-cons btn-animated from-left fa fa-plus"
              >
                <span>Create Invoice</span>
              </button>
            </ul>
          </div>
          <div class="col-sm-8 p-r-0">
            <ul class="navbar-nav d-flex flex-row justify-content-sm-end">
              <li class="nav-item">
                <div class="btn-group">
                  <button
                    [hidden]="selected.length == 0"
                    (click)="markPaid()"
                    class="btn btn-default btn-cons"
                  >
                    <span>
                      <i
                        class="fa fa-check-circle text-success"
                        aria-hidden="true"
                      ></i>
                      Mark Paid</span
                    >
                  </button>
                  <button
                    [hidden]="selected.length == 0"
                    (click)="markDue()"
                    class="btn btn-default btn-cons"
                  >
                    <span>
                      <i
                        class="fa fa-clock-o text-warning"
                        aria-hidden="true"
                      ></i>
                      Mark Due</span
                    >
                  </button>
                </div>
              </li>
              <li class="nav-item">
                <div class="input-group transparent">
                  <div class="input-group-prepend">
                    <span class="input-group-text transparent"
                      ><i class="pg pg-search"></i>
                    </span>
                  </div>
                  <input
                    type="text"
                    class="form-control pull-right"
                    placeholder="Search"
                    (keyup)="updateFilterSearch($event)"
                  />
                </div>
              </li>
              <li class="nav-item mr-3">
                <div class="btn-group dropdown dropdown-default" dropdown>
                  <button
                    class="btn dropdown-toggle"
                    type="button"
                    dropdownToggle
                  >
                    <i
                      class="fa fa-circle"
                      [ngClass]="{
                        'text-success': statusSort == 'Paid',
                        'text-danger': statusSort == 'Late',
                        'text-warning': statusSort == 'Due',
                        'text-primary': statusSort == 'All'
                      }"
                    ></i
                    ><span> {{ statusSort }}</span>
                  </button>
                  <div *dropdownMenu class="dropdown-menu" role="menu">
                    <a
                      class="dropdown-item"
                      href="javascript:void(0)"
                      (click)="updateFilterStatus('')"
                      ><i
                        class="fa fa-circle text-primary"
                        aria-hidden="true"
                      ></i>
                      All</a
                    >
                    <a
                      class="dropdown-item"
                      href="javascript:void(0)"
                      (click)="updateFilterStatus('balanced')"
                      ><i
                        class="fa fa-circle text-success"
                        aria-hidden="true"
                      ></i>
                      Balanced</a
                    >
                    <a
                      class="dropdown-item"
                      href="javascript:void(0)"
                      (click)="updateFilterStatus('issued')"
                      ><i
                        class="fa fa-circle text-warning"
                        aria-hidden="true"
                      ></i>
                      Issued</a
                    >
                    <a
                      class="dropdown-item"
                      href="javascript:void(0)"
                      (click)="updateFilterStatus('cancelledInvoice')"
                      ><i
                        class="fa fa-circle text-danger"
                        aria-hidden="true"
                      ></i>
                      Cancelled</a
                    >
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </nav>
  <!-- /.navbar-collapse -->
</pg-container>

<pg-container>
  <!-- START card -->
  <div class="card">
    <div class="card-header ">
      <div class="card-title">Patient Invoices</div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <ngx-datatable
          #table
          class="table table-hover"
          [rows]="invoicesRows"
          [columnMode]="columnModeSetting"
          [headerHeight]="43"
          [footerHeight]="50"
          [rowHeight]="'auto'"
          [selectionType]="'checkbox'"
          [selected]="selected"
          [scrollbarH]="scrollBarHorizontal"
          (select)="onSelect($event)"
          (activate)="onActivate($event)"
        >
          <ngx-datatable-column
            [width]="40"
            [sortable]="false"
            [canAutoResize]="false"
            [draggable]="false"
            [resizeable]="false"
            cellClass="d-flex align-items-center"
          >
            <ng-template
              ngx-datatable-cell-template
              let-rowIndex="rowIndex"
              let-row="row"
              let-value="value"
              let-isSelected="isSelected"
              let-onCheckboxChangeFn="onCheckboxChangeFn"
            >
              <div class="checkbox d-flex align-items-center">
                <input
                  type="checkbox"
                  value="1"
                  id="checkbox_1{{ rowIndex }}"
                  [checked]="isSelected"
                  (change)="onCheckboxChangeFn($event)"
                />
                <label for="checkbox_1{{ rowIndex }}"></label>
              </div>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column
            name="patientName"
            cellClass="d-flex align-items-center"
          >
            <ng-template
              let-row="row"
              let-value="value"
              ngx-datatable-cell-template
            >
              <a href="javascript:void(0)" (click)="onClick(row)">{{
                value
              }}</a>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column
            name="lineItem"
            cellClass="d-flex align-items-center"
          >
            <ng-template
              let-row="row"
              let-value="value"
              ngx-datatable-cell-template
            >
              <a
                href="javascript:;"
                *ngFor="let value of row.lineItem"
                class="btn btn-tag"
                placement="right"
                [tooltip]="value.priceComponent[0].amount.value"
                >{{ value.priceComponent[0].code }}</a
              ><br />
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column
            name="date"
            cellClass="d-flex align-items-center"
          >
            <ng-template
              let-row="row"
              let-value="value"
              ngx-datatable-cell-template
            >
              {{ value | date }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column
            name="totalNet"
            cellClass="d-flex align-items-center"
          >
          </ngx-datatable-column>
          <ngx-datatable-column
            name="status"
            cellClass="d-flex align-items-center"
          >
            <ng-template
              let-row="row"
              let-value="value"
              ngx-datatable-cell-template
            >
              <span
                class="label mt-1"
                [ngClass]="{
                  'label-success': value.toLowerCase() === 'balanced',
                  'label-warning': value.toLowerCase() === 'issued',
                  'label-danger': value.toLowerCase() === 'cancelled'
                }"
              >
                {{ value }}</span
              >
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
  </div>
  <!-- END card -->
</pg-container>
