<pg-container>
  <div class="row mt-5">
    <div class="col-md-2">
      <span class="label label-default mb-2 text-center pull-center"
        >Current</span
      >

      <div
        class="span mt-5 text-center"
        style="font-size: 60px; font-weight: bold;"
      >
        <span>
          {{ incomingPatientsCount }}
        </span>
      </div>
    </div>
    <div class="col-md-5">
      <span class="label label-danger mb-2 pull-left">Incoming Patients</span>
      <div
        class="card p-2"
        *ngFor="let patient of incomingPatients"
        [routerLink]="['/patient-records', patient.identifier.value]"
      >
        <div class="row p-1 ml-1">
          <div class="col-sm-8 mt-auto mb-auto">
            <span class="h5 bold text-primary">{{ patient.name[0].text }}</span>
            <br />
          </div>
        </div>

        <div class="row p-1 ml-1" *ngIf="patient.time">
          <div class="col-sm-4">
            <i class="fa fa-calendar mr-2" aria-hidden="true"></i>
            <span>{{ patient.time }}</span>
          </div>
          <div class="col-sm-4">
            <i class="fa fa-location-arrow mr-2" aria-hidden="true"></i>
            <span>{{ patient.distance }}</span>
          </div>
          <div class="col-sm-4">
            <i class="fa fa-user-circle-o mr-2" aria-hidden="true"></i>
            <span>{{ patient.gender.toLowerCase() }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <span class="label label-success mb-2 mr-2 pull-left">Practitioners</span>

      <span class="mr-3 "
        >{{ totalPractitioners }} All
        <i class="fa fa-check-circle text-primary"></i
      ></span>
      <span class="mr-3"
        >{{ onlinePractitioners }} Online
        <i class="fa fa-check-circle text-success"></i
      ></span>
      <span class="mt-2"
        >{{ totalPractitioners - onlinePractitioners }} Offline
        <i class="fa fa-check-circle text-danger"></i
      ></span>

      <div
        class="card p-2"
        *ngFor="let user of practitioners"
        [routerLink]="['/manage-users/practitioner', user.identifier.value]"
      >
        <div class="row ml-1 p-1">
          <!-- <div class="col-sm-3">
              <img
                src="{{ user.photo[0].url }}"
                alt=""
                srcset=""
                width="100"
                height="100"
              />
            </div> -->

          <div class="col-sm-8 mt-auto mb-auto">
            <span class="h5 bold text-primary">{{ user.name[0].text }}</span>
            <br />
            <span
              ><i class="fa fa-envelope" aria-hidden="true"></i>
              {{ user.email }}</span
            >
            <br />
            <span
              ><i class="fa fa-user-circle" aria-hidden="true"></i>
              Practitioner</span
            >
          </div>
          <div class="col-sm-4 mt-auto mb-auto ml-auto">
            <span class="semi-bold" *ngIf="user.login"
              >Available
              <i
                class="fa "
                [ngClass]="
                  user.login == true
                    ? 'fa-check-circle text-success'
                    : 'fa-power-off text-danger'
                "
                aria-hidden="true"
              ></i
            ></span>
            <span class="semi-bold" *ngIf="!user.login"
              >Offline
              <i
                class="fa "
                [ngClass]="
                  user.login == true
                    ? 'fa-check-circle text-success'
                    : 'fa-power-off text-danger'
                "
                aria-hidden="true"
              ></i
            ></span>
            <br />
          </div>
        </div>
      </div>
    </div>
  </div>
</pg-container>

<pg-container>
  <div class="mt-5">
    <span class="label label-warning mt-1 mb-2 pull-left">Invoices</span>
    <div class="card p-4">
      <div class="row">
        <div class="col-md-3 border-right">
          <div class="text-center">
            <span class="hint-text">Total</span> <br />
            <span class="h2 semi-bold">{{ totalInvoices }}</span>
          </div>
        </div>
        <div class="col-md-3 border-right">
          <div class="text-center">
            <span class="hint-text">Due</span> <br />
            <span class="h2 semi-bold">{{ dueInvoices }}</span>
          </div>
        </div>
        <div class="col-md-3 border-right">
          <div class="text-center">
            <span class="hint-text">Cancelled Invoices</span> <br />
            <span class="h2 semi-bold">{{ cancelledInvoice }}</span>
          </div>
        </div>
        <div class="col-md-3">
          <div class="text-center">
            <span class="hint-text">Paid</span> <br />
            <span class="h2 semi-bold">{{ paidInvoices }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</pg-container>

<ngui-map hidden="true"> </ngui-map>
