<!-- START CONTAINER FLUID -->
<pg-container #invoice>
  <!-- START card -->

  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-5 text-center mt-5">
      <div class="card card-default m-t-20" *ngIf="currentInvoice">
        <div class="card-body">
          <div class="invoice padding-50 sm-padding-10">
            <div>
              <div class="pull-left mt-4">
                <address class="m-t-10">
                  <!-- {{ currentInvoice.patientAddress }} -->
                  <br />(877) 412-7753.
                  <br />
                </address>
              </div>
              <div class="pull-right sm-m-t-20">
                <h2
                  class="font-montserrat all-caps hint-text"
                  [ngClass]="{ 'text-success': status == 'BALANCED' }"
                >
                  {{ status }}
                </h2>
              </div>
              <div class="clearfix"></div>
            </div>
            <br />
            <br />
            <div class="col-12">
              <div class="row">
                <!-- <div class="col-lg-12 pull-left col-sm-height sm-no-padding">
                  <p class="small no-margin">Invoice to</p>
                  <h5 class="semi-bold m-t-0">
                    {{ currentInvoice.patientName }}
                  </h5>
                </div> -->
                <div
                  class="col-lg-12 sm-no-padding sm-p-b-20 d-flex align-items-end justify-content-between"
                >
                  <div>
                    <div class="font-montserrat bold all-caps">
                      Invoice No :
                    </div>
                    <div class="font-montserrat bold all-caps">
                      Invoice date :
                    </div>
                    <div class="clearfix"></div>
                  </div>
                  <div class="text-right">
                    <div class="">{{ currentInvoice.identifier[0].value }}</div>
                    <div class="">{{ currentInvoice.date | date }}</div>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="table-responsive table-invoice">
              <table class="table m-t-50">
                <thead>
                  <tr>
                    <th class="">Task Description</th>
                    <th class="text-right">Cost</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of currentInvoice.lineItem">
                    <td class="">
                      <p class="text-black">
                        {{ item.priceComponent[0].code }}
                      </p>
                      <!-- <p class="small hint-text">
                            {{ item.description }}
                          </p> -->
                    </td>
                    <td class="text-right">
                      Rs {{ item.priceComponent[0].amount.value }}
                    </td>
                  </tr>
                  <!-- <tr>
                        <td class="">
                          <p class="text-black">Heart Transplant</p>
                          <p class="small hint-text">
                            A quick brown fox jumps over the lazy dog.
                          </p>
                        </td>
                        <td class="text-center">$89.00</td>
                        <td class="text-center">100</td>
                        <td class="text-right">$8,900.00</td>
                      </tr> -->
                </tbody>
              </table>
            </div>
            <hr />

            <div>
              <span class="m-l-70 text-black sm-pull-right">
                +92 311 8833328</span
              >
              <span class="m-l-40 text-black sm-pull-right"
                >support@salama.io</span
              >
            </div>
          </div>
        </div>
      </div>
      <div [hidden]="status == 'BALANCED'">
        <form (submit)="handleForm($event)">
          <div #cardElement></div>
          <p>{{ cardErrors }}</p>

          <button class="btn btn-primary">Buy for ${{ amount }}.00</button>
        </form>
      </div>
    </div>
    <div class="col-md-3 mt-5 text-center">
      <!-- <form (submit)="handleForm($event)" style="margin-top: 400px;">
        <div #cardElement></div>
        <p>{{ cardErrors }}</p>

        <button class="btn btn-primary">Buy for ${{ amount }}.00</button>
      </form> -->
    </div>
    <div *ngIf="loading">Loading....</div>
  </div>

  <!-- END card -->
</pg-container>
<!-- END CONTAINER FLUID -->
